p {
    border: 2px solid grey;
    background-color: rgb(203, 204, 203);
    margin-left: -4px;
    box-sizing: border-box;
    width: 33%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
}